.footer-item h3 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
    color: #ffffff;
}

.one-footer-area .footer-item .footer-logo ul{
    padding-top:0;
}

.one-footer-area .copyright-area .copyright-item p{
    text-align:center;
}

.one-footer-area{
    padding-top:70px;
}

.one-footer-area .copyright-area{
    margin-top:40px;
    padding-top:15px;
    padding-bottom:15px;
}

.footer-address p{
    color:#bdcbd5;
}

.footer-logo img{
    width: 85%;
    
}

.one-footer-area .footer-item .footer-quick ul li a{
    cursor:pointer;
}

.one-footer-area .copyright-area .copyright-item p{
    font-size:15px;
    color:#767676c4;
}

.one-footer-area .footer-item .footer-quick ul li a:visited {
    color: #bdcbd5 !important;
  }